.letterbox {display: flex; justify-content: flex-start; align-items: center;}
.letterbox span {width: 30px; height: 30px; line-height: 30px; text-align: center; margin-right: 5px; border: 1px solid #000;}

.buttonbox {margin-top: 20px; display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;}
.button {width: 30px; height: 30px; line-height: 30px; border: 1px solid #000; background: #000; color: #fff; cursor: pointer; line-height: 30px; text-align: center; margin: 2px;}